# Ignore build products

/build/
/dist/
/MiniCLEB.egg-info/
/MiniCLEB/_MiniCLEB_wrap.c
/MiniCLEB/MiniCLEB.py
/*.so

# Ignore virtual environments

/lib/
/bin/
/pyvenv.cfg

# Ignore python caching globally

__pycache__/
