include ./LICENSE.txt
include ./MANIFEST.in
include ./README.md
include ./setup.py
include ./.gitignore
graft ./MiniCLEB/
exclude ./build/
exclude ./dist/
exclude ./MiniCLEB.egg-info/
exclude ./MiniCLEB/_MiniCLEB_wrap.c
exclude ./MiniCLEB/MiniCLEB.py
